{% extends 'base.html' %}

{% block content %}

<style>
    /* CSS styles for the table */
    .center-table {
        margin: 0 auto; /* Center the table */
        width: 60%; /* Set the table width to 60% */
    }
    .add, .search, .show-all {
        text-align: center; /* Center align forms */
    }
</style>

<div class="container">
    <h1>Player Types</h1>
</div>

<br>

<form action="/player_types" method="POST" class="add">
    <input type="text" placeholder="Player Position" name="player_position">
    <input type="submit" value="Add Player Type" class="btn btn-secondary">
</form>

<br><br>

<form action="/player_types" method="GET" class="search">
    <input type="text" placeholder="Search Player Types" name="query">
    <input type="submit" value="Search" class="btn btn-secondary">
</form>
<br><br>
<form action="/player_types" method="GET" class="show-all">
    <input type="hidden" name="show_all" value="true">
    <input type="submit" value="Show All Player Types" class="btn btn-primary">
</form>

<br><br>

{% if player_types %}
    <!-- Table to display search results or all player types -->
    <table class="table center-table">
        <thead>
            <tr>
                <th scope="col">Player Type ID</th>
                <th scope="col">Player Position</th>
            </tr>
        </thead>
        <tbody>
            {% for player_type in player_types %}
                <tr>
                    <td>{{ player_type.PlayerTypeID }}</td>
                    <td>{{ player_type.PlayerPosition }}</td>
                    
                        <td>
                            <a href="{{ url_for('edit_player_type', player_type_id=player_type.PlayerTypeID) }}" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <form action="{{ url_for('delete_player_type', player_type_id=player_type.PlayerTypeID) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this player? This action will also delete associated data.');">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    
                    
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
